{% extends 'Base.html' %}

{% block content %}
<body class="adminReg">
    <div class="header">
        <div class="logo">
            V O T E
        </div>
        <ul>
            
            {% if user.is_authenticated %}
            <a href='logout'><li>Logout</li></a>
            <a href="profile"><li>Profile</li></a>
            {% else %}
            <a href='/'><li>Home</li></a>
            <a href='adminregister'><li>Register</li></a>
            <a href='login'><li>Login</li></a>
            {% endif %}
        </ul>
    </div>

{% if not user.is_authenticated %}
<div class="adminReg-form">
    <h1>Super User</h1>
    <form method="POST" action="adminregister">
        {% csrf_token %}
        <br>
        <input class = "register-input" type="text" name="name" placeholder="Name">
        <br>
        <input class = "register-input" type="email" name="email" placeholder="Email">
        <br>
        <input class = "register-input" type="text" name="username" placeholder="Username">
        <br>
        <input class = "register-input" type="password" name="pwd" placeholder="Password">
        <br>
        <input class="register-button" type="submit">
    </form>
</div>
{% if messages.success %}
    {{messages.success}}
{% endif %}
{% endif %}
    
</body>
{% endblock %}