{% extends 'Base.html' %}
{% block content %}
<body class="base">
    <div class="header">
        <div class="logo">
            V O T E
        </div>
        <ul>
            
            {% if user.is_authenticated %}
            <a href='logout'><li>Logout</li></a>
            <a href="profile"><li>Profile</li></a>
            <a href="adminhome"><li>Home</li></a>
            {% else %}
            <a href='adminhome'><li>Home</li></a>
            <a href='register'><li>Register</li></a>
            <a href='login'><li>Login</li></a>
            {% endif %}
        </ul>
    </div>

    <div class="delcandidate">
        <form action="deletecandidate" method="POST" >
            {% csrf_token %}
                {% for i in candidates %}
                <div class="delcandidate-data">
                    <input type="checkbox" name="{{i.name}}">
                    {{i.name}} {{i.party}} {{i.symbol}}
                    <br>
                </div>
                {% endfor %}
                <input class="delcandidate-button" type="submit">
        </form>
    </div>




</body>

{% endblock %}